html, body {
  margin: 0;
  height: 100%;
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}

#root {
  height: 100%;
  align-items: center;
  justify-content: center;
}

#grid {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  justify-content: center;

}
#item {
  background-color: #333;
  border: 1px solid rgba(33, 33, 33, 0.8);
  margin: 10px 5px;
  padding: 20px;
  text-align: center;
  border-radius: 10%;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#item:hover{
  border:3px solid #0082ff;
}
#item button {
  position: 'absolute';
  bottom:0;
  left:0;
  background-color: #222;
  opacity: 1;
  border: none;
  border-radius: 8px;
  color:#fff;
  padding: 3% 10%;
  font-size:200%;
  text-align: center;
  cursor: pointer;
  margin: 10px 5px;
}
#item button:disabled {
  position: 'absolute';
  bottom:0;
  left:0;
  background-color: #333;
  opacity: 1;
  border: none;
  border-radius: 8px;
  color:#fff;
  padding: 3% 10%;
  font-size:200%;
  text-align: center;
  cursor: pointer;
  margin: 10px 5px;
}

#bottomText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  }

#navButton {
  position: 'absolute';
  bottom:0;
  left:0;
  background-color: #333;
  opacity: 1;
  border: none;
  border-radius: 8px;
  color:#fff;
  padding: 3% 10%;
  font-size:200%;
  text-align: center;
  cursor: pointer;
  margin: 10px 5px;
}

#navButton:hover{
    cursor: pointer;
    filter: invert(10%);
    color: black;
  
  }
#navButton-activated{
    position: 'absolute';
    bottom:0;
    left:0;
    background-color: #333;
    opacity: 1;
    border: none;
    border-radius: 8px;
    color:#fff;
    padding: 3% 10%;
    font-size:200%;
    text-align: center;
    cursor: pointer;
    border:3px solid #0082ff;
    margin: 10px 5px;
  }
  #navButton-activated:hover{
    cursor: pointer;
    filter: invert(10%);
    color: black;
  
  }